/*************** font-family *************************/
body{
    font-family: 'Noto Serif', serif;
}
.Ctext-color{
    color: rgb(61, 32, 83);
}
.Cbgcolor{
    background-color: rgba(236, 226, 226, 0.849);
}
.Cbgcolor2{
  background-color: rgba(110, 103, 204, 0.836);
}